.main-app {
  @apply text-gray-600 not-italic
  bg-gradient-to-b from-transparent via-blue-100 to-blue-700 h-screen w-screen;
}

.navi {
  @apply rounded-l
px-6
py-2.5
bg-blue-900
text-white
font-medium
text-xs
leading-tight
uppercase
hover:bg-blue-900
focus:bg-blue-700 focus:outline-none focus:ring-0
active:bg-blue-800
transition
duration-150
ease-in-out;
}

.submit {
  @apply rounded
px-6
py-2.5
bg-blue-900
text-white

font-medium
text-xs
leading-tight
uppercase
hover:bg-blue-900
focus:bg-blue-700 focus:outline-none focus:ring-0
active:bg-blue-800
transition
duration-150
ease-in-out;
}

.register-main {
  @apply bg-white max-w-lg mb-5 md:p-5 my-10 rounded-lg shadow-2xl;
}

.register-box {
  @apply bg-gray-200 rounded flex items-stretch
   text-black focus:outline-none border-b-4 border-gray-300
    focus:border-blue-900 transition duration-500 px-3 pb-3;
}

.logbook-box {
  @apply bg-white w-5/6 mb-5 md:p-5 my-10 rounded-lg shadow-2xl;
}

.logbook-box-user {
  @apply bg-white p-5 rounded-lg shadow-2xl;
}


.placeholder {
  @apply text-center;
}

.box {
  @apply
		min-w-full
		h-10
		min-h-full
		rounded;
}

.item {
	@apply bg-blue-50 rounded flex items-stretch
  text-black text-sm focus:outline-none border-b-0 border-gray-300
}


  .placeholder-style::placeholder {
     padding: 5px 12px;
     margin: 5px;
  }

